@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Lato&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    font-size: 14px;
}

/* Navbar styles */
.header {
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    margin: auto;
    margin-top: 10px;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: #4b0023;
    font-weight: 500;
}

.navbar a {
    text-decoration: none;
    font-weight: 500;
    color: #4b0023;
    font-size: 1.2rem;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.navbar li {
    cursor: pointer;
}

.navbar li:hover {
    text-decoration: underline;
}

#mobile-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100dvh;
    background-color: #4b0023;
    background-image: url('../images/mobile_nav.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 50;
    transform: translateY(100%);
    transition: transform 0.4s ease-in-out;
}

.mobile-nav-bg {
    width: 74%;
    height: 100%;
    background-color: rgba(75, 0, 35, 0.7);
    display: flex;
    align-items: center;
    padding: 40px;
}

#mobile-nav.active {
    transform: translateY(0);
}

.mobile-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-links li {
    margin: 1rem 0;
}

.mobile-links a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

.mobile-icons a {
    color: #ffffff !important;
}

.logo {
    color: #000;
    text-decoration: none;
    font-family: 'Cinzel Decorative', cursive;
}

.logo span {
    display: none;
    text-transform: uppercase;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100svh;

    background-image: url("../images/hero_img.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    z-index: -1;
}

.hero h1 {
    font-family: 'Cinzel Decorative', cursive;
    text-transform: uppercase;
    color: #ffffff;
    font-size: clamp(2.5rem, 5vw, 6rem);
    font-weight: bold;
    text-shadow: 2px 2px 8px #000;

    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
}

/* hamburger menu  */
.menu {
    width: 30px;
    height: 20px;

    display: none;
}

.menu span {
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background-color: black;
    transition: all 0.3s ease;
}

.menu span:nth-child(2) {
    width: 80%;
}

.menu span:nth-child(3) {
    width: 60%;
}

.menu.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu.open span:nth-child(2) {
    opacity: 0;
}

.menu.open span:nth-child(3) {
    width: 100%;
    transform: translateY(-8px) rotate(-45deg);
}

/* utility class  */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* layout of page  */
.wrapper {
    overflow: hidden;
}

.hero-container {
    width: 100%;
    height: 100dvh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: transparent;
}

.hero-animation {
    position: relative;
    width: 0.0px;
    height: 0.0px;
    background-color: transparent;
    rotate: 45deg;
}

.hero-content {
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;

    z-index: 999;
    padding: 2rem;
    border-radius: 10px;

    opacity: 1;
    transition: opacity 0.1s ease;

    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.hero-blinds {
    width: 1000px;
    height: 1000px;
    position: absolute;
    background-color: #df006c;
}

.hero-blinds:nth-child(1) {
    background-color: #ffc0cb;
    top: -1000px;
    left: -1000px;
}

.hero-blinds:nth-child(2) {
    background-color: #ffc0cb;
    top: -1000px;
    right: -1000px;
}

.hero-blinds:nth-child(3) {
    bottom: -1000px;
    left: -1000px;
}

.hero-blinds:nth-child(4) {
    bottom: -1000px;
    right: -1000px;
}

.box {
    flex: 1;
}

.box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box1-header {
    padding: 1rem;
    border-radius: 10px;
    font-size: clamp(2rem, 5vw, 3rem);
    line-height: 1.2;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 8px #000;
}

.box1-quote {
    padding: 1rem;
    border-radius: 10px;

    width: 70%;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.box1-quote span {
    display: block;
    text-align: end;
}

.box-cta {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    padding: 1rem;
}

.btn {
    background-color: #63002e;
    color: #ffffff;
    border: 1px solid #4b0023;
    border-radius: 6px;
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: #ff95c7;
    color: #000000;
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(242, 140, 187, 0.4);
}

.btn:active {
    transform: scale(0.97);
    background-color: #187bcd;
}

.box-client {
    padding: 1rem;
    padding-top: 2rem;
}

.box-client-img {
    display: flex;
    padding-left: 1rem;
}

.box-client-img>* {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-client-img>*:not(:first-child) {
    margin-left: -10px;
}

.box-client p {
    font-size: 12px;
    padding-bottom: 20px;
}

.box-client-img {
    padding-left: 0;
}

/* tutor section */
.tutors-section,
.yoga-classes {
    background-color: #ffc0cb;
    padding: 80px 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.section-title,
.yoga-class-heading h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 40px;
}

.section-subtitle,
.yoga-class-heading p {
    font-size: 1rem;
    color: #535252;
    margin-bottom: 40px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.tutor-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tutor-card {
    background: #df006c;
    color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tutor-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.tutor-card h3 {
    font-size: 1.2rem;
    margin: 0 0 5px;
}

.tutor-card p {
    font-size: 0.95rem;
}

/* pricing section */
.pricing-section {
    background-color: #f4f9f4;
    padding: 80px 20px;
    font-family: Arial, sans-serif;
}

.pricing-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

.pricing-note {
    text-align: center;
    font-size: 1rem;
    margin: 2rem 0rem;
    color: #535252;
}

.pricing-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.pricing-card {
    background: #ffc0cb;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    flex: 1 1 250px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pricing-card h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #2a2a2a;
}

.pricing-card .desc {
    font-size: 0.95rem;
    margin: 10px 0;
    color: #555;
}

.price {
    font-size: 1.1rem;
    margin: 15px 0;
}

.price .was {
    text-decoration: line-through;
    color: #1f1f1f;
    margin-right: 5px;
}

.features {
    list-style: none;
    padding-left: 0;
    margin: 15px 0;
    font-size: 0.95rem;
    color: #444;
}

.features li {
    padding: 20px 0;
}

.features li::before {
    display: inline-block;
    width: 1.2em;
    margin-right: 8px;
    font-weight: bold;
    color: green;
}

footer {
    background-color: #ececec;
    padding: 60px 20px 30px;
    color: #4b0023;
}

.footer-wrapper {
    display: flex;
    margin: 3rem 0;
}

.footer-newsletter {
    width: 30%;
}

.footer-newsletter h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.footer-newsletter p {
    margin-bottom: 20px;
    color: #3b3939;
}

.newsletter-form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.newsletter-form input {
    flex: 1;
    min-width: 220px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 6px;
}

.footer-links {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.link-column h3 {
    margin-bottom: 1.5rem;
}

.link-column ul {
    list-style: none;
    padding: 0;
}

.link-column li {
    margin-bottom: 10px;
}

.link-column a {
    text-decoration: none;
    transition: color 0.2s ease;
}

.link-column a:hover {
    text-decoration: underline;
}

.footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.social-icons {
    font-size: 2rem;
}

.social-icons a {
    text-decoration: none;
    color: #4b0023;
}

.cards-container {
    column-count: 4;
    column-gap: 1rem;
    line-height: 0;
    padding: 1rem;
}

.yoga-card {
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 16px;
    background-color: #fdfdfc;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

.yoga-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    text-align: center;
}

.card-content h3 {
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: #2a2a2a;
}

.card-content p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

.schedule {
    background-color: #f2f5f2;
    padding: 15px;
    border-radius: 12px;
}

.schedule-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 0.75rem;
    color: #333;
}

.schedule-row:last-child {
    margin-bottom: 0;
}


/* sign up styling  */

.signup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    padding: 70px 20px;
}

.signup-container {
    background-color: #ffffff;
    padding: 2.5rem 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    max-width: 400px;
    width: 100%;
}

.signup-container h3 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #2c3e50;
}

.signup-container label {
    display: block;
    margin-bottom: 0.3rem;
    font-weight: 500;
    color: #333;
}

.input-area,
select {
    width: 100%;
    padding: 0.6rem 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #f9f9f9;
    transition: border 0.3s ease;
}

.input-area:focus,
select:focus {
    border-color: #ee41b4;
    outline: none;
    background-color: #ffffff;
}

.select-field {
    display: flex;
    flex-direction: column;
}

.signup label {
    font-weight: bold;
}

@media (max-width: 1200px) {
    .box1-quote {
        width: 100%;
    }

    .cards-container {
        column-count: 3;
    }
}

@media(max-width: 1020px) {
    .box1-quote {
        font-size: 0.9rem;
    }
}

@media (max-width: 992px) {
    .box-cta {
        flex-direction: column;
    }

    .cards-container {
        column-count: 2;
    }
}

@media (max-width: 768px) {
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        cursor: pointer;
    }

    .logo span {
        display: inline-block;
    }

    .navbar ul,
    .login {
        display: none;
    }

    video {
        height: 500px;
        width: auto;
    }

    .hero-content {
        flex-direction: column;
    }

    .box {
        width: 100%;
    }

    .box1-header {
        height: 100%;
        margin-bottom: 0;
        text-align: center;
    }

    .box1-quote {
        display: none;
    }

    .box-cta {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        justify-content: center;
        z-index: 999;
        width: 80%;
    }

    .box-client {
        position: absolute;
        bottom: -10%;
        left: 50%;
        transform: translateX(-50%);
        padding: 1rem;
        background-color: #ee41b4;
        border-radius: 10px;
    }

    .box-client p {
        text-align: center;
    }

    .footer-wrapper {
        flex-direction: column;
    }

    .footer-newsletter {
        width: 100%;
        margin-bottom: 2rem;
    }

    .footer-bottom {
        flex-direction: column;
    }

    .social-icons {
        margin-bottom: 2rem;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    #mobile-nav {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

@media (max-width: 600px) {
    .cards-container {
        column-count: 1;
    }
}

@media (max-width: 480px) {
    .signup-container {
        margin: 1rem;
        padding: 2rem 1.5rem;
    }
}