@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Lato&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2,
h3 {
    font-family: 'Lato', sans-serif;
}

.section-header {
    text-align: center;
    padding: 20px;
    letter-spacing: 1px;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url(../images/hero-image.jpg) no-repeat right top;
    background-size: cover;
    background-attachment: fixed;
    background-color: #bcbcbc;
}

header {
    width: 100%;
    height: 75px;
    background-color: #73C2FB;
    position: fixed;
    top: 0;
    z-index: 333;
}

#header-logo {
    float: left;
    font-size: 200%;
    line-height: 75px;
    text-decoration: none;
    margin-left: 30px;
}

#logo-font {
    color: #FF1789;
}

.company-image-logo {
    width: 150px;
    height: 150px;
    border: 2px solid #fff;
    border-radius: 90px;
}

.logo {
    color: #000;
    font-family: 'Cinzel Decorative', cursive;
    text-transform: uppercase;
}

.link-texts {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #092642;
}

.link-texts:hover {
    color: #FF1789;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 75px;
}

#menu a:hover {
    color: #FF1789;
    border-bottom: 2px solid #FF1789;
}

/* hero container styling */
#hero-container {
    width: 100%;
    height: 100vh;
    position: relative;
    clear: both;
}

#hero-cover-text-box {
    color: #fff;
    clear: both;
    text-align: center;
    background-color: rgba(255, 23, 137, .5);
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -40%);
}

/* social menu styling */
#social-menu-box {
    position: absolute;
    top: 80%;
    left: 40%;
}

.social-menu li {
    display: inline;
}

.social-menu a {
    color: #fff;
    font-size: 25px;
    margin-left: 20px;
}

.social-menu a:hover {
    color: #FF1789;
}

/* about us styling */
#about-us {
    background-color: #dcdcdc;
    padding: 20px 0px 20px 0px;
    width: 100%;
    height: 50%;
}

#about-us-content {
    width: 99%;
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
}

.left-about {
    width: 30%;
    height: 30vh;
    float: left;
    padding: 0;
    position: relative;
}

#about-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.middle-about {
    width: 20%;
    height: 30vh;
    margin: 0 40% 0 30%;
    padding: 10px;
    position: relative;
}

#about-image {
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right-about {
    width: 50%;
    height: 30vh;
    float: right;
    padding: 0;
    position: relative;
}

#about-text-container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-text {
    padding: 10px;
    margin: 0 auto;
    text-align: justify;
}

/* gallery styling starts here */
#classes-gallery {
    background-color: #dcdcdc;
}

#row1 {
    display: flex;
    overflow-x: scroll;
}

#row1::-webkit-scrollbar {
    display: none;
}

.col {
    margin: 20px;
}

iframe {
    border: 0;
}

/* pick classes styling start here */
#classes-container {
    background-color: #fff;
    padding: 50px 0;
}

#classes-box {
    width: 90%;
    margin: 0 auto;
}



.card {
    border-radius: 10px;
    text-align: center;
}

.card-left {
    border-radius: 10px;
    width: 33%;
    float: left;
    border: 4px solid #fff;
}

.card-right {
    width: 33%;
    float: right;
    border: 4px solid #fff;

}

.card-middle {
    width: 33%;
    margin: 0 auto;
    border: 4px solid #fff;
}

.card-header {
    display: block;
    padding: 20px 0;
    background-color: #ff1789;
    border-radius: 5px 5px 0px 0px
}

.card-text {
    display: block;
    padding: 20px 10px;
    background-color: #5894CC;
}

.prices {
    display: block;
    padding: 20px 0;
    background-color: #fff;
}

.register-link {
    display: block;
    padding: 20px 0;
    background-color: #73C2FB;
    border-radius: 0px 0px 5px 5px;
}

/* tutors section styling starts here */
#tutors-container {
    background-color: #dcdcdc;

}

.tutor-row {
    width: 100%;
    height: 65%;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
}

.tutor-row::-webkit-scrollbar {
    display: none;
}

.tutor-row .tutors-card {
    float: none;
    display: inline-block;
    width: 335px;
    height: 335px;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;

}

.tutors-card img {
    width: 335px;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #fff;
}

.tutor-details {
    display: block;
    padding: 10px 10px;
}

/* registration form styling starts here */
#registration {
    clear: both;
    width: 100%;
    background-color: #FFCDD0;
    ;
    margin: 0px;
    padding: 10px 0px;
}

.registration-container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left {
    width: 590px;
    height: 400px;
    background-color: #5894CC;
    z-index: 2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

#right {
    width: 328px;
    height: 420px;
    background-color: #8A6E70;
    margin-left: -20px;

    border-radius: 10px;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-area {
    margin: 5px 0px;
    width: 100%;
    padding: 5px;
    background-color: #E3E3E3;
}

label {
    font-weight: bold;
}

.select-field {
    margin: 5px;
}

button {
    margin: 10px 0px;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    background-color: #ff1789;
    font-size: 1.1rem;
    color: #fff;
}

.buttons:hover {
    background-color: #f88dc1;
    color: #000;
}

/* contact-us styling */
#contact-us {
    background-color: #fff;
    width: 100%;
}

#contact-us-container {
    width: 90%;
    height: 55vh;
    margin: 0 auto;
    /* position: relative; */
}

/* #contact-logo-image {
    border: 4px solid #5894CC;
    position: absolute;
    z-index: 333;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.left-box {
    width: 50%;
    height: 40vh;
    background-color: #5894CC;
    float: left;
    position: relative;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

#text-here {
    width: 70%;
    padding: 5px;
    resize: none;
    background-color: #E3E3E3;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

select {
    background-color: #E3E3E3;
}

#text-here:hover,
.input-area:hover {
    background-color: #ccc;
}

#text-here:focus,
.input-area:focus {
    background-color: #fff;
}

.right-box {
    width: 50%;
    height: 40vh;
    float: right;
    background-color: #5894CC;
    position: relative;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.detail-field {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#address {
    text-align: center;
    width: 70%;
    margin: auto;
}

.tabs {
    display: inline-block;
    margin-right: 20px;
    font-size: 80%;
    padding: 20px;
}

/* terms and condition */
#terms-container {
    padding: 20px 0;
    background-color: #E3E3E3;
}

#terms-box {
    width: 60%;
    background-color: #fff;
    height: 50vh;
    margin: 0 auto;
    padding: 20px;
    overflow: scroll;
}

h4 {
    padding: 10px 0;
}

/* footer styling */
footer {
    width: 100%;
    background-color: #73C2FB;
    border-top: 4px solid #13538F;
}

.footer-container {
    width: 80%;
    background-color: #73C2FB;
    padding: 10px 0px;
    margin: 0 auto;
}

.row {
    float: left;
    line-height: 77px;
    margin-right: 30px;
}

#footer-social-menu {
    float: right;
}

/* media querry styling start here */
/* media screen for tablets and screen size 1200px  */
@media screen and (max-width: 1200px) {
    #contact-logo-image {
        top: 80%;
    }

    .footer-container {
        width: 95%;
    }

}

/* media screen for devices and screen size 950px  */
@media screen and (max-width: 950px) {
    .left-about {
        width: 100%;
        height: 10vh;
    }

    .middle-about {
        margin: 10vh 0 0 0;
    }

    .right-about {
        width: 80%;
    }

    #footer-social-menu,
    .row {
        float: none;
        width: 100%;
        text-align: center;
    }

    /* #contact-logo-image {
        top: 90%;
    } */
}

/* media screen for devices and screen size 768px  */
@media screen and (max-width: 768px) {
    #header-logo {
        font-size: 155%;
        padding-top: 10px;
        margin: 0 auto;
    }

    #header-logo,
    #menu {
        float: none;
        display: inline-block;
        width: 100%;
        line-height: 50px;
        text-align: center;
    }

    header {
        height: 115px;
    }

    .middle-about {
        clear: both;
        width: 100%;
        height: 10vh;
    }

    .company-image-logo {
        width: 60px;
        height: 60px;
    }

    .right-about {
        clear: both;
        width: 100%;
        height: 40vh;
    }

    body {
        background: url(../images/hero-image-small.jpg) no-repeat center center;
        background-attachment: fixed;
        background-size: cover;
    }

    #menu li {
        margin-right: 20px;
    }

    #social-menu-box {
        left: 35%;
    }

    #right {
        display: none;
    }

    #terms-box {
        width: 90%;
    }
}

/* media screen for devices and screen size 600px  */
@media screen and (max-width: 600px) {
    #social-menu-box {
        top: 85%;
        left: 20%;
    }

    .card {
        width: 50%;
        float: none;
        margin: 10px auto;
    }

}